.cart-page {
  background-color: #f8f8f8;
}

:root {
  --brand-1: #fff;
  --brand-2: #000;
  --gray-0: #000;
  --font-size-h1: 1.125rem;
  --font-size-h2: 1rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.75rem;
}
