.header_container {
  max-width: 100%;
  width: 100vw;
  border-bottom: 2px rgb(0, 0, 0, 0.1) solid;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: var(--main-font);
}

.button_back {
  display: none;
  gap: 5px;
  font-size: var(--font-size-h2);
  font-weight: 500;
  position: absolute;
  left: 0;
  color: var(--gray-00);
}

.logo {
  align-self: center;
}

.header_align {
  max-width: 90%;
  width: 1900px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (min-width: 410px) {
  .button_back {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .logo {
    align-self: center;
  }
}
