.main_container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  font-family: var(--main-font);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #000000;
}
.section__products {
  max-width: 90%;
  width: 1900px;
}

.products_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  grid-row-gap: 20px;
  justify-content: center;
}

@media (min-width: 389px) {
  .products_list {
    gap: 10px;
  }
}

@media (min-width: 671px) {
  .title {
    font-size: 1.5rem;
  }
  .products_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .products_list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-row-gap: 40px;
    justify-content: space-between;
  }
}
