.custom_checkbox {
  max-width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom_checkbox input[type="checkbox"] {
  display: none;
}

.checkbox_label {
  max-width: 100%;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-main-color);
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-text);
  color: #6e6e6e;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
}

.custom_checkbox input[type="checkbox"]:checked + .checkbox_label {
  background-color: #000;
  color: #fff;
}

@media (min-width: 389px) {
  .checkbox_label {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1000px) {
  .checkbox_label {
    width: 25px;
    height: 25px;
  }
  .custom_checkbox:hover .checkbox_label {
    border: 1px solid #000;
    color: #000;
  }
}
