.custom_checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}

.custom_checkbox input[type="checkbox"] {
  display: none;
}

.checkbox_label {
  width: 20px;
  height: 20px;
  border: 1px solid #6e6e6e8e;
  color: #6e6e6e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.75rem;
  max-width: 100%;
  user-select: none;
}

.custom_checkbox input[type="checkbox"]:checked + .checkbox_label {
  background-color: #000;
  color: #fff;
}

@media (min-width: 1000px) {
  .checkbox_label {
    width: 25px;
    height: 25px;
    font-size: 0.875rem;
  }
  .custom_checkbox:hover .checkbox_label {
    border: 1px solid #000;
    color: #000;
  }
}
